<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="LOG_PATTERN">%d{dd-MM-yyyy'T'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name="BASE_FOLDER">quartz_logs</Property>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>

        <!-- RollingFile appender configuration -->
        <!-- filePattern is used for setting file name of archived log file -->
        <RollingFile name="LogToFile"
                     fileName="${BASE_FOLDER}/${date:dd-MM-yyyy}.log"
                     filePattern="${BASE_FOLDER}/%d{dd-MM-yyyy}.log.gz">
            <PatternLayout>
                <pattern>[%-5level] %d{dd-MM-yyyy HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>

            <!-- Files are roll over every day -->
            <Policies>
                <TimeBasedTriggeringPolicy interval="2" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>

        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>

</Configuration>