<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

<!--    <SystemPropertyArbiter propertyName="env" propertyValue="dev">-->
<!--        <Console name="Out">-->
<!--            <PatternLayout pattern="%m%n"/>-->
<!--        </Console>-->
<!--    </SystemPropertyArbiter>-->


<!--    <Loggers>-->
<!--        <Logger name="org.apache.test" level="trace" additivity="false">-->
<!--            <AppenderRef ref="Out"/>-->
<!--        </Logger>-->
<!--        <Root level="error">-->
<!--            <AppenderRef ref="Out"/>-->
<!--        </Root>-->
<!--    </Loggers>-->

    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">%d{dd-MM-yyyy'T'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name="basePath">quartz_logs</Property>
<!--        <Property name="basePath">$${env:LOG_PATH}</Property>-->
    </Properties>

    <Appenders>
        <!-- Console appender configuration -->
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{dd-MM-yyyy HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </Console>

        <!-- RollingFile appender configuration -->
        <!-- filePattern is used for setting file name of archived log file -->
        <RollingFile name="LogToFile"
                     fileName="${basePath}/${date:dd-MM-yyyy}.log"
                     filePattern="${basePath}/%d{dd-MM-yyyy}.log.gz">
            <PatternLayout>
                <pattern>[%-5level] %d{dd-MM-yyyy HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>

        <!-- Files are roll over every day -->
            <Policies>
                <TimeBasedTriggeringPolicy interval="2" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>

        </RollingFile>


        <RollingFile name="LogCopyJobToFile"
                     fileName="${basePath}/CopyJob/${date:dd-MM-yyyy}.log"
                     filePattern="${basePath}/%d{dd-MM-yyyy}.log.gz">
            <PatternLayout>
                <pattern>[%-5level] %d{dd-MM-yyyy HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>

            <!-- Files are roll over every day -->
            <Policies>
                <TimeBasedTriggeringPolicy interval="2" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>


        <RollingFile name="LogMoveJobToFile"
                     fileName="${basePath}/MoveJob/${date:dd-MM-yyyy}.log"
                     filePattern="${basePath}/%d{dd-MM-yyyy}.log.gz">
            <PatternLayout>
                <pattern>[%-5level] %d{dd-MM-yyyy HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>

            <!-- Files are roll over every day -->
            <Policies>
                <TimeBasedTriggeringPolicy interval="2" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>

    </Appenders>


    <Loggers>

        <Logger name="com.quartz.jobs.MoveJob" level="debug" additivity="false">
            <AppenderRef ref="LogMoveJobToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>

        <Logger name="com.quartz.jobs.CopyJob" level="debug" additivity="false">
            <AppenderRef ref="LogCopyJobToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>

        <Logger name="com.quartz.jobs.HelloWorldJob" level="trace" additivity="false">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>


        <Root level="trace">
            <AppenderRef ref="LogCopyJobToFile"/>
            <AppenderRef ref="LogMoveJobToFile"/>
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>

    </Loggers>

</Configuration>